#welcomecard {
    /* TODO: Jesse, make this style better thanks */
    top: 40%;

    text-align: center;
    background: #EEEEEE;
    width: 30%;
    height: 30%;
    border-style: solid;
    border-color: black;
    border-width: 2px;

}

#languageForm{
  padding-top: 30px;
  padding: 5px:
}


#backgroundVideo {
    position: absolute;
    left: -10%;
    top: -10%;
    min-width: 120%;
    min-height: 120%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;

    /* TODO: Jesse, figure out what setting for this filter looks the best, I think there are some other filters you can use too...*/
    filter: blur(50px);
    filter: 
}

body {
    overflow: hidden;
}
