{% extends '_base.html' %}

{% block extraImports %}
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='learn.css')}}/>

    <script src = {{ url_for('static', filename='learn.js') }}></script>
    <script src = {{ url_for('static', filename='captureFrame.js') }}></script>
    <script src = {{ url_for('static', filename='consoleImage.js') }}></script>

{% endblock extraImports %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="six columns" id="videoColumn">
                <video autoplay="true" id="backgroundFeed">

                </video>
                <video autoplay="true" id="videoFeed">

                </video>
            </div>
            <div class="six columns" id="analysisColumn">
                <button onclick="analyzeCurrent();" id="analyzeButton"> Analyze Content </button>
                <div id = "analysisResults">

                </div>
                <img src = "{{ url_for('static', filename='eye.png')}}" id="loadingIcon">
            </div>
        </div>
    </div>
    <div id = "leftPanel"></div>
    <div id = "rightPanel"></div>
    <script>
        var langname = "{{ fulllanguage }}";
        var langabr = "{{ language }}"
    </script>
{% endblock content %}